.btn {
    &,
    &:link,
    &:visited {
        position: relative;
        text-transform: uppercase;
        transition: all .2s;
        font-size: $default-font-size;
        border: none;
        cursor: pointer;
    }

    .btn-big {
        &:link,
        &:visited {
            position: relative;
            text-transform: uppercase;
            transition: all .2s;
            font-size: 3rem;
        }
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &-white {
        display: inline-block;
        text-decoration: none;
        background-color: $color-white;
        color: $color-grey-dark;
        padding: 10px 30px;

        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        display: inline-block;
        text-decoration: none;
        background-color: $color-medium;
        color: $color-white;
        padding: 20px 30px;

        &::after {
            background-color: $color-medium;
        }
    }

    &--blue {
        display: inline-block;
        text-decoration: none;
        background: linear-gradient($color-secondary-light, $color-secondary-dark);
        color: $color-white;
        padding: 20px 30px;

        &::after {
            background-color: $color-secondary-light;
        }
    }

    &-animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        display: inline-block;
        color: $color-medium;
        text-decoration: none;
        border-bottom: 1px solid $color-medium;
        padding: 3px;
        font-size: $default-font-size;
        transition: all .3s;
    }

    &-large {
        &:link,
        &:visited {
            display: inline-block;
            color: $color-white;
            text-decoration: none;
            border-bottom: 1px solid $color-white;
            padding: 3px;
            font-size: 2rem;
            transition: all .3s;
        }
    }

    &:hover {
        background: linear-gradient($color-light, $color-dark);
        color: white;
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        transform: translateY(-3px);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
}

.paragraph {
    font-size: $default-font-size;
}
