body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 1.6rem;

    &-main {
        display: block;
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        margin-right: -3.2rem;
        backface-visibility: hidden;
        animation: moveInLeft 1s ease-out;
    }

    &-secondary {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.87rem;
        margin-right: -1.4rem;
        backface-visibility: hidden;
        animation: moveInRight 1s ease-out;
        animation-duration: 1s;
    }
}

.heading-secondary {
    @include secondary-heading;
    background-image: linear-gradient(to right bottom, $color-light, $color-dark);


    &-blue {
        @include secondary-heading;
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
    }

    &:hover {
        transform: scaleX(1.1) scaleY(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }

    &-blue:hover {
        transform: scaleX(1.1) scaleY(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}
